<!DOCTYPE html>
<html lang="es">

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Respuestas</title>
    
    <link rel="stylesheet" href="css/Facebluff.css">
</head>

<body>

    <%- include("header_user")%>
    <%- include("navigation")%>

    <p class = "grafito title_pag">Crear nueva pregunta</p>
    
    <form class = "grid_ul" method = "POST" action = "/createQuestion">
       

        <p class = "normal_text">Enunciado de la pregunta</p>
        <span class = "flex">
            <input class = "create_question" name = "question" type = text placeholder = "Introduzca un pregunta">
            <% if (err.question) { %>
                    <label class="red err_label"><%= err.question.msg %></label>
            <% } %>
        </span>


        <p class = "normal_text">Respuestas</p>
        <span class = "flex">
            <textarea class = "create_answer" name = "answers" autocapitalize=sentences placeholder = "Introduzca aqui sus respuestas"></textarea>
            <% if (err.answers) { %>
                    <label class="red err_label"><%= err.answers.msg %></label>
            <% } %>
        </span>

        <div class = "button_div">
            <input class = "midel_button" type = "submit" action = "/createQuestion" value = "Crear Pregunta">
            
        </div>

    </form>

 


</body>

</html>