.tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    
    
}

.formato1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:500px;
    height: 35px;
    background-color:rgba(245, 240, 103, 0.63);
    margin-bottom: 3px;
    justify-content: space-between;
    border: 2px solid #ffc542;
    
    
}

.formato2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:500px;
    height: 35px;
    background-color:rgba(245, 240, 103, 0.63);
    text-decoration: line-through;
    margin-bottom: 3px;
    border: 2px solid #ffc542;
    color:#ccc9c9;
    
}

.formato3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:500px;
    height: 35px;
    background-color:#30bf67;
    margin-bottom: 3px;
    border: 2px solid #018443;
    
}

ul{
    list-styl
}

.textArea{
    width: 400px;
    margin-left: 12px;
    
    
}

.parte1{
    display: flex;
    flex-direction: row;
    flex-grow: 100;
    align-items: center;
    margin-left: 
    
}

.mf{
    background-color: #c66b2a;
   
    
}

.parte2{
    border-radius: 57px 57px 57px 57px;
    background-color: #c66b2a;
    width: 100;
    align-self: flex-end;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.tick{
    align-self: flex-end;
    
}


.circulo{
    margin-left: 8px;
    margin-right: 8px;
    background-color: #cc9e05
   padding: 5px;
}

.eliminar{
    border-radius:  110px 110px 110px 110px;
    background-color: #cc9e05 
}

.a{
    border-radius: 57px 57px 57px 57px;
    background-color: #30bf67;
    margin: 30px;
}