
<header>

    <h1 class="logo">F A C E<span class="logoB green"> B </span>L U F F</h1>
    <nav class="ini_navegation">
        <a class="ini_link scale" href="/login.html">Inciar Sesion</a>
        <a class="ini_link scale" href="/checkIn.html">Registrarse</a>
    </nav>

</header>