<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nuevo Usuario - Facebluff</title>

    <link rel="stylesheet" href="css/Facebluff.css">
</head>

<body>


    <header>

        <h1 class="logo">F A C E<span class="logoB green"> B </span>L U F F</h1>

        <nav class="ini_navegation">
            <a class="ini_link scale" href="/login.html">Inciar Sesion</a>
            <a class="ini_link scale" href="/checkIn.html">Registrarse</a>
        </nav>
    </header>


    <p class="title_pag grafito">Registro</p>

    
    <%if(errMsg !== null){%>
        <div class = "errBox">
            <%= errMsg %>
        </div>
    <%}%>
    

    <form id="registry_form" action = "/check_in" method = "POST">

        <fieldset id = "first_fieldset" class="grafito">

            <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_email">Email:</label>
                
                <input class="standar_reg" type="text" name="email" id="txt_email" autofocus>
            </div>

            <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_contraseña">Contraseña:</label>
                
                <input class="standar_reg" type="password" name="password" id="txt_contraseña">
            </div>

            <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_nombre">Nombre:</label>
                
                <input class="standar_reg" type="text" name="name" id="txt_nombre">
            </div>

             <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_nombre">Apellidos:</label>
                
                <input class="standar_reg" type="text" name="surname" id="txt_nombre">
            </div>

            <div class = "bottom_div">
                <input class = "sex_radio" type="radio" name="gender" value = "0"> Hombre </input>
                <input class = "sex_radio" type="radio" name="gender" value= "1"> Mujer </input>
            </div>

            <div class = "bottom_div">
                
                <label class="grafito standar_label" for="txt_fecha">Fecha Nacimiento:</label>
                
                <input type="date" name="date" id="txt_fecha">
            </div>
            
            <fieldset>
                
                 <legend>Imagen de perfil</legend>

                 <div id= "perfil_block">
                     
                    <input class = "img_button" type = submit value="Seleccionar Archivo">
                     
                    <img class = "perfilImg" src = "img/noPerfil.png">
                </div>

            </fieldset>
        </fieldset>

        <div class = "button_div">
            <input class = "small_button scale" action = "/check_in" type = submit value="Registrarse">
        </div>

    </form>

</body>
</html>






