#T2 {
    <p id="T2"> tabla2 </p>
}

tr, td, th{
    border: 1px solid black;
}

th{
    background: brown;
    color:white;
    
}


td.sesiones{
    
    background-color: #00fff5;
    
}

td.otros{
    
    background-color: burlywood;
}

td.titulo{
    
    background-color: brown;
}

td.horas{
    
    background-color: beige;
}

td.asamblea{
    
    background-color: pink;
}

td.descansos{
     background-color: rgba(217, 74, 217, 0.58);
    text-align: center;
    
}